{
  "version": "1.0.1",
  "buildNumber": 2,
  "downloadUrl": "http://37.247.99.103/updates/zeyder_fiyat/zeyder_fiyat_v1.0.1.apk",
  "forceUpdate": false,
  "changelog": "• Yeni özellikler eklendi\n• Hata düzeltmeleri yapıldı\n• Performans iyileştirmeleri"
}
